.movie-tile-container {
  background-color: #090909;
  border-radius: 15px;
  height: 100%;
  flex-direction: column;
  position: relative;

  color: #ffffff;
}

.movie-tile-container img {
  width: 50%;
  height: auto;
}

.movie-tile-container .row {
  padding-bottom: 20px;
}

.movie-tile-btn-row {
  position: absolute;
  bottom: 0;
}